body {
    margin: 0;
    max-width: 550vh;
    max-height: 1200vh;
}
.header {
    background-color: black;
    padding-bottom: 5vh;
}

a.menu {
    padding-left: 54vh;
    text-decoration: none;
    color:white;
}

/* .info {
    display: flex;
    padding-left: 20px;
} */